<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Об авторе</h1>
<p>
  Нi✨ 
  Looking for Python Developer or DevOps engineer position. Ready for relocation.
  Already have experience of working in a large company using Agile. Will be much happy to work in English-speaking
  environment. When I speak English, I can more freely express my thoughts, that can’t express in my native Russian.
  This definitely makes me feel excited!
  Friendly team player and you can always turn to me for help.
  My motivation is to grow as a specialist and enjoy it, even when it's not easy. I like to learn new. Modern technology
  stack is also important for me. And also, motivated by interesting tasks and thanks from people.
  My hobbies are ping-pong 🏓 and hiking.
</p>
{% endblock %} 